In [1]:
import MySQLdb

Импортируем данные для подключения к БД:

In [2]:
from authentification1 import *

In [5]:
database = MySQLdb.connect(user=user, password=password, db = db, use_unicode=True)

In [6]:
database.encoding = 'utf8'

In [7]:
cursor = database.cursor()

In [8]:
cursor.execute('DROP TABLE students, mark, test_question, question;')
cursor.fetchall()

()

Создадим нужные нам таблицы:

In [9]:
cursor.execute('''CREATE TABLE students (id INT NOT NULL AUTO_INCREMENT, name VARCHAR(30) CHARACTER SET utf8 COLLATE utf8_general_ci,
familyname VARCHAR(30) CHARACTER SET utf8 COLLATE utf8_general_ci, patername VARCHAR(30) CHARACTER SET utf8
COLLATE utf8_general_ci, AcGroup VARCHAR(10) CHARACTER SET utf8 COLLATE utf8_general_ci, PRIMARY KEY(id))
;''')

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:4: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  after removing the cwd from sys.path.
c:\program files\python36\lib\site-packages\ipykernel_launcher.py:4: Warning: (3778, "'utf8_general_ci' is a collation of the deprecated character set UTF8MB3. Please consider using UTF8MB4 with an appropriate collation instead.")
  after removing the cwd from sys.path.

0

In [10]:
cursor.execute('''CREATE TABLE mark (id INT NOT NULL AUTO_INCREMENT, test_id INT, student_id INT, mark int,
CHECK (mark>=0 AND mark<=10), PRIMARY KEY(id));''')

0

In [11]:
cursor.execute('''CREATE TABLE test_question (id INT NOT NULL AUTO_INCREMENT, test_id INT, question_id INT, PRIMARY KEY(id));''')

0

In [12]:
cursor.execute('''CREATE TABLE question (id int NOT NULL AUTO_INCREMENT,
question_text VARCHAR(800) CHARACTER SET utf8 COLLATE utf8_general_ci, PRIMARY KEY(id));''')

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:2: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:2: Warning: (3778, "'utf8_general_ci' is a collation of the deprecated character set UTF8MB3. Please consider using UTF8MB4 with an appropriate collation instead.")

0

In [16]:
cursor.execute('''CREATE TABLE test (id int NOT NULL AUTO_INCREMENT,
title VARCHAR(150) CHARACTER SET utf8 COLLATE utf8_general_ci,
passdate date, PRIMARY KEY(id));''')

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:3: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  This is separate from the ipykernel package so we can avoid doing imports until
c:\program files\python36\lib\site-packages\ipykernel_launcher.py:3: Warning: (3778, "'utf8_general_ci' is a collation of the deprecated character set UTF8MB3. Please consider using UTF8MB4 with an appropriate collation instead.")
  This is separate from the ipykernel package so we can avoid doing imports until

0

In [17]:
cursor.execute('SHOW TABLES;')
cursor.fetchall()

(('mark',), ('question',), ('students',), ('test',), ('test_question',))

In [18]:
cursor.execute('desc students;')
cursor.fetchall()

(('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(30)', 'YES', '', None, ''),
 ('familyname', 'varchar(30)', 'YES', '', None, ''),
 ('patername', 'varchar(30)', 'YES', '', None, ''),
 ('AcGroup', 'varchar(10)', 'YES', '', None, ''))

In [19]:
cursor.execute('''INSERT INTO question(question_text) VALUES ('В N-ском зоопарке средний рост суриката 45.3 см, стандартное отклонение - 7.4.
Найдите доверительный интервал для роста суриката в генеральной совокупности при уровне значимости 0.05');''')

1

In [20]:
cursor.execute('''SELECT * FROM question;''')
cursor.fetchall()

((1,
  'В N-ском зоопарке средний рост суриката 45.3 см, стандартное отклонение - 7.4.\nНайдите доверительный интервал для роста суриката в генеральной совокупности при уровне значимости 0.05'),)

In [21]:
cursor.execute('''INSERT INTO question VALUES ('2', 'Докажите, что из любого прямоугольника можно сложить квадрат');''')

1

In [22]:
cursor.execute('''SELECT * FROM question WHERE id=1;''')
cursor.fetchone()

(1,
 'В N-ском зоопарке средний рост суриката 45.3 см, стандартное отклонение - 7.4.\nНайдите доверительный интервал для роста суриката в генеральной совокупности при уровне значимости 0.05')

In [23]:
database.commit()

In [24]:
cursor.execute('''INSERT INTO students (name, familyname, patername, AcGroup) VALUES
('Владимир','Путин','Владимирович','БКЛ161'),
('Дмитрий','Медведев','Анатольевич','БКЛ161'),
('Анатолий','Чубайс','Борисович','БКЛ161'),
('Герман','Греф','Оскарович','БКЛ161'),
('Эдуард','Лимонов','Вениаминович','БКЛ162'),
('Алексей','Навальный','Анатольевич','БКЛ162'),
('Александр','Пушкин','Сергеевич','БКЛ163'),
('Лев','Толстой','Николаевич','БКЛ163');''')

8

In [25]:
cursor.execute('''INSERT INTO test (title, passdate) VALUES
('Контрольная по статистике','2018-09-10'),
('Контрольная по типологии','2018-10-11'),
('Контрольная по программированию','2018-10-25'),
('Контрольная по алкоголистике','2018-11-7');''')

4

In [27]:
cursor.execute('''INSERT INTO question (question_text) VALUES 
('Напишите реализацию стека на Brainf**k'),
('Петя и Миша играют в игру. Сначала один из них загадывает число, а другой угадывает. Если угаданных чётных
чисел больше, чем нечётных, то Миша бьёт Петю по лбу столько раз, сколько чётных было угадано, а если больше угаданных
нечётных -  то Миша бьёт Петю. Напищите программу,
которая принимает на вход список кортежей, в которых записано числа и были они правильно угаданы и определяет
кто кого бьёт по лбу и сколько раз.');''')

2

In [28]:
cursor.execute('''INSERT INTO question (question_text) VALUES
('Расположите на шкале одушевлённости: личные имена, местоимения 1л., местоимения 2л.,
местоимения 3л., неодушевлённые нарицательные имена, неодушевлённые имена собственные,
одушевлённые нарицательные имена'),
('Приведите по примеру эргативного маркирования из любых двух не-эргативных языков');''')

2

In [29]:
cursor.execute('''INSERT INTO test_question (test_id, question_id) VALUES
(1,1),(1,2),(2,3),(2,4),(3,5),(3,6);''')

6

Заполним таблицу с оценками:

In [30]:
import random

In [34]:
for i in range(1, 9):
    for j in range(1, 4):
        cursor.execute(f'''INSERT INTO mark (student_id, test_id, mark) VALUES ({i},{j},{random.randint(0,10)});''')

In [35]:
cursor.execute('SELECT * FROM mark;')

24

In [36]:
cursor.fetchall()

((1, 1, 1, 5),
 (2, 2, 1, 1),
 (3, 3, 1, 1),
 (4, 1, 2, 6),
 (5, 2, 2, 5),
 (6, 3, 2, 0),
 (7, 1, 3, 3),
 (8, 2, 3, 2),
 (9, 3, 3, 0),
 (10, 1, 4, 8),
 (11, 2, 4, 9),
 (12, 3, 4, 7),
 (13, 1, 5, 6),
 (14, 2, 5, 9),
 (15, 3, 5, 10),
 (16, 1, 6, 8),
 (17, 2, 6, 1),
 (18, 3, 6, 5),
 (19, 1, 7, 7),
 (20, 2, 7, 9),
 (21, 3, 7, 4),
 (22, 1, 8, 5),
 (23, 2, 8, 4),
 (24, 3, 8, 5))

In [39]:
database.commit()

In [40]:
database.close()