In [35]:
import MySQLdb

Импортируем данные для подключения к удалённой БД:

In [36]:
from authentification import *

In [37]:
database = MySQLdb.connect(user=user, host=host, password=password, port=port, db = db, use_unicode=True)

In [38]:
database.encoding = 'utf8'

In [39]:
cursor = database.cursor()

In [40]:
cursor.execute('SHOW TABLES;')
cursor.fetchall()

(('mark',), ('question',), ('students',), ('test_question',))

In [41]:
cursor.execute('DROP TABLE students;DROP TABLE mark;DROP TABLE question;DROP TABLE test_question;')

0

Создадим нужные нам таблицы:

In [42]:
cursor.execute('''CREATE TABLE students (id INT NOT NULL AUTO_INCREMENT, name VARCHAR(30) CHARACTER SET utf8 COLLATE utf8_general_ci,
familyname VARCHAR(30) CHARACTER SET utf8 COLLATE utf8_general_ci, patername VARCHAR(30) CHARACTER SET utf8
COLLATE utf8_general_ci, AcGroup VARCHAR(10) CHARACTER SET utf8 COLLATE utf8_general_ci, PRIMARY KEY(id))
;''')

0

In [43]:
cursor.execute('''CREATE TABLE mark (id INT NOT NULL AUTO_INCREMENT, test_id INT, student_id INT, mark int,
CHECK (mark>=0 AND mark<=10), PRIMARY KEY(id));''')

0

In [44]:
cursor.execute('''CREATE TABLE test_question (id INT NOT NULL AUTO_INCREMENT, test_id INT, question_id INT, PRIMARY KEY(id));''')

0

In [45]:
cursor.execute('''CREATE TABLE question (id int NOT NULL AUTO_INCREMENT,
question_text VARCHAR(800) CHARACTER SET utf8 COLLATE utf8_general_ci, PRIMARY KEY(id));''')

0

In [46]:
cursor.execute('SHOW TABLES;')
cursor.fetchall()

(('mark',), ('question',), ('students',), ('test_question',))

In [47]:
cursor.execute('desc students;')
cursor.fetchall()

(('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(30)', 'YES', '', None, ''),
 ('familyname', 'varchar(30)', 'YES', '', None, ''),
 ('patername', 'varchar(30)', 'YES', '', None, ''),
 ('AcGroup', 'varchar(10)', 'YES', '', None, ''))

In [48]:
cursor.execute('''INSERT INTO question(question_text) VALUES ('В N-ском зоопарке средний рост суриката 45.3 см, стандартное отклонение - 7.4.
Найдите доверительный интервал для роста суриката в генеральной совокупности при уровне значимости 0.05');''')

1

In [49]:
cursor.execute('''SELECT * FROM question;''')
cursor.fetchall()

((1,
  'В N-ском зоопарке средний рост суриката 45.3 см, стандартное отклонение - 7.4.\nНайдите доверительный интервал для роста суриката в генеральной совокупности при уровне значимости 0.05'),)

In [50]:
cursor.execute('''INSERT INTO question VALUES ('2', 'Докажите, что из любого прямоугольника можно сложить квадрат');''')

1

In [51]:
cursor.execute('''SELECT * FROM question WHERE id=1;''')
cursor.fetchone()

(1,
 'В N-ском зоопарке средний рост суриката 45.3 см, стандартное отклонение - 7.4.\nНайдите доверительный интервал для роста суриката в генеральной совокупности при уровне значимости 0.05')

In [52]:
database.commit()

In [53]:
database.close()